/* *** REGOLE GENERALI ***  */
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* ***#CONTAINER***  */
#container{
    height: calc(100vh - 90px);
    width: 100vw;
}

/* *** SIDEBAR +++  */
#sidebar{
    background-color: black;
    width: 250px;
    height: 100%;
    float: left;
}

/* *** TOPBAR ***  */
#topbar{
    background-color: rgb(11,13,25);
    width: calc(100vw - 250px);
    height: 90px;
    float: right;
}


/* *** MAIN ***  */
main{
    background-color: rgb(20,25,34);
    height: calc(100vh - 180px);
    width: calc(100vw - 250px);
    float: right;
}

/* *** PLAYERBAR ***  */
#playerbar{
    background-color: rgb(40,40,40);
    height: 90px;
    width: 100%;
}